body {
    background-color: black;
}
h2 {
    color: darkblue;
    font-style: italic;
}
h3 {
    color: darkblue;
    font-style: italic;
}
h4 {
    color: darkblue;
    font-style: italic;
}
body {
    color: aliceblue;
}
h1 {
    font-weight: bold;
    color: cornsilk;
}